<ion-tabs class="tabs-icon-top tabs-color-active-calm">

  <ion-tab title="记账" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="明细" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="报表" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
